force-app/main/default/flows/Customer_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Customer_Finances</name>
        <label>Assign Customer Finances</label>
        <locationX>1165</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>CustomerToInsert.Credit_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Exists</name>
        <label>Customer Exists?</label>
        <locationX>689</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Customer_Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Customer_Already_in_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Already_Exists</targetReference>
            </connector>
            <label>Customer Already in System</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>1013</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Customer_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>CustomerToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Customer_Check</name>
        <label>Customer Check</label>
        <locationX>699</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerToInsert.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerToInsert.Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Customer__c</object>
        <outputReference>OldCustomer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Customer_Already_Exists</name>
        <label>Customer Already Exists</label>
        <locationX>398</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Name</targetReference>
        </connector>
        <fields>
            <name>CustomerExists</name>
            <fieldText>&lt;p&gt;Customer Already Exists inside the database.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Contact_Information</name>
        <label>Customer Contact Information</label>
        <locationX>904</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Finances</targetReference>
        </connector>
        <fields>
            <name>CustomerPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerToInsert.Phone__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CustomerEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerToInsert.Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Created</name>
        <label>Customer Created</label>
        <locationX>1223</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CustomerCreated</name>
            <fieldText>&lt;p&gt;The customer you entered, {!CustomerToInsert.First_Name__c} {!CustomerToInsert.Last_Name__c}&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;, has been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Finances</name>
        <label>Customer Finances</label>
        <locationX>1037</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Customer_Finances</targetReference>
        </connector>
        <fields>
            <name>Credit_Score</name>
            <dataType>Number</dataType>
            <fieldText>Credit Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Name</name>
        <label>Customer Name</label>
        <locationX>530</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Check</targetReference>
        </connector>
        <fields>
            <name>Fullname</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerToInsert.First_Name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CustomerToInsert.Last_Name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>852</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Customer_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer__c</objectType>
    </variables>
    <variables>
        <name>OldCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer__c</objectType>
    </variables>
</Flow>
